body {
    background-color: rgb(169, 169, 218);
}

h1 {
    font-size: 64px;
    color:rgb(113, 150, 124);
    text-align: center;
}

img {
    max-width: 30vw;
    max-height: 40vh;
    height: auto;
    display: block;
    margin: 0px auto;
    margin-top: 0px;
}

.linklist {
    padding:0;
    margin: 0 auto;
    list-style: none none;
    text-align: center;
    font-size: 32px;
}

.homelink {
    display: block;
    text-align: center;
    border-top: 2px outset rgb(113, 150, 124);
    font-size: 36px;

}